body {
	font-family: "Open Sans",sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}
.container{
	padding-top: 30px;
}

.form-group{
	width:200px;
}

/* container filtrare  */
.row-filtrare:first{
	padding: 30px 20px;
}

.row-filtrare{
	padding: 20px 20px;
}

.cauta{
	align-self: center;
}
.cauta .btn{
	width: 250px;
	justify-content: center;
}



/* container afisare rezultate  */
.tab-pane h2{
	padding: 30px 0 0 20px;
}

.tab-pane:first-child h2{
	padding: 10px 0 0 20px;
}

.card-proprietate{
	padding-top: 10px;
	padding-bottom: 5px;
}

.box-shadow{
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.card{ 
	transition-duration: 0.35s;
}
.card:hover { 
	box-shadow: 0 0.3rem 0.75rem rgba(0, 0, 0, .15);
	transition-duration: 0.25s;
}

.img-height{
	height: 225px;
}

.detalii{
	float: right;
}
.detalii:hover{
	text-decoration: none;
}

/*.scrollable-area{
	overflow: scroll;
	height: 500px;
}*/